<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>后台角色管理-{$Think.config.cms_name}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css' />
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/function.js"></script>
	<style>td{ height:22px; line-height:22px}</style>
</head>
<body>
	<form action="{:U('/Admin/SsoSystem/sort')}" method="post" name="form">
	<table width="98%" border="0" cellpadding="5" cellspacing="1" class="table">
		<tr>
			<td colspan="8" class="table_title">
				<span class="fl">子系统管理</span>
				<span class="fr">
					<a href="{:U('/Admin/SsoSystem/add')}">添加子系统</a>
				</span>
			</td>
			<tr class="list_head ct">
				<td width="8%">排序权重</td>
				<td width="20%">ID</td>
				<td width="18%">子系统名称</td>
				<td width="8%">子系统编码</td>
				<td width="12%">更新日期</td>
				<td >角色描述</td>
				<td width="6%">状态</td>
				<td width="10%">管理操作</td>
			</tr>
	    <volist name="list" id="vo">
			<tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
				<td align='center'>
					<input type='text' value='{$vo.rank}' size='3' name='sort[{$vo.sysid}]'></td>
				<td align='center'>{$vo.sysid}</td>
				<td >{$vo.name}</td>
				<td >{$vo.syscode}</td>
				<td align='center'>{:date('Y-m-d H:i:s',$vo['created'])}</td>
				<td >{$vo.comments}</td>
				<td align='center'><eq name="vo.status" value="normal"><font color="red">√</font><else/><font color="blue">×</font></eq> 
				</td>
				<td align='center'>
					<a href="{:U('/Admin/SsoSystem/edit/',array('sysid'=>$vo['sysid']))}">修改</a>
					| <a href="javascript:void(0)" onclick="return confirmurl('{:U('/Admin/SsoSystem/del/',array('sysid'=>$vo['sysid']))}','确定删除该子系统吗?')">删除</a>
				</td>
			</tr>
	    </volist>
		<tr class="tr">
          <td colspan="8" valign="middle">
            <input type="submit" value="排序" class="bginput" />
          </td>
        </tr>
		</table>
	</form>
		<script>var version='{$Think.config.cms_var}';</script>
		<include file="Index:footer" />
</body>
</html>